In [2]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
# Read the Excel file
raw = pd.read_excel("rawdata.xlsx")
raw.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,..
1,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,..,..,..,..,..,..,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,..
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,..,..,..,..,..,..,...,78,79.5,80.5,81.6,82.6,83.2,83.8,84.5,85,..
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,..
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,86.5,64.6,97.1,97.1,91.6,97.1,97.1,97.1,81.7,..

In [4]:
# Delete rows where 'Series Name' contains '%'
raw = raw[~raw['Series Name'].str.contains('%')]

# Display the updated dataframe
raw.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
23,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
24,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
26,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
27,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,..,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
29,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [22]:
# Extract country names from the column names
country_names = raw['Country Name'].unique()

# Create a mapping from country names to unique IDs
country_id_map = {country: idx + 1 for idx, country in enumerate(country_names)}

# Create the country_id column by mapping the country names
raw['country_id'] = raw['Country Name'].map(country_id_map)

# Move the country_id column to the first position
# Change the country_id into a string and add a leading zero if it is a single digit
raw['country_id'] = raw['country_id'].apply(lambda x: f'{x:02}')

# Move the country_id column to the first position
cols = ['country_id'] + [col for col in raw.columns if col != 'country_id']
raw = raw[cols]

country = pd.DataFrame()

country['id'] = raw['country_id'].unique()
country['location'] = raw['Country Name'].unique()
# Display the updated dataframe
country.to_csv('country.csv', index=False)
country.head()

   id     location
0  01  Afghanistan
1  02    Australia
2  03      Austria
3  04   Bangladesh
4  05      Belgium

In [6]:
# Extract series names from the column names
series_names = raw['Series Name'].unique()

# Create a mapping from series names to unique IDs
series_id_map = {series: idx + 1 for idx, series in enumerate(series_names)}

# Create the series_id column by mapping the series names
raw['series_id'] = raw['Series Name'].map(series_id_map)

# Change the series_id into a string and add leading zeros
raw['series_id'] = raw['series_id'].apply(lambda x: f'{x:03}')

# Move the series_id column to the first position
cols = ['series_id'] + [col for col in raw.columns if col != 'series_id']
raw = raw[cols]

series = pd.DataFrame({
	'id': raw['series_id'].unique(),
	'Series': series_names
})

# Display the updated dataframe
series.to_csv('series.csv', index=False)
series.head()

    id                                             Series
0  001   Adjusted net national income (constant 2015 US$)
1  002         Adjusted net national income (current US$)
2  003  Adjusted net national income per capita (const...
3  004  Adjusted net national income per capita (curre...
4  005  Adjusted net savings, excluding particulate em...

In [18]:
category = pd.read_excel("category.xlsx")
# Merge the resulting DataFrame with category to get Category
raw_temp = raw.merge(category, left_on='Series Name', right_on='Series Name', how='left')

# Rename 'Category' to 'category_id'
raw_temp.rename(columns={'Category': 'category_id'}, inplace=True)

# Change the category_id into a string and add leading zeros if necessary
raw_temp['category_id'] = raw_temp['category_id'].apply(lambda x: f'{int(x):02}' if pd.notnull(x) else '00')

# Move 'category_id' to the third position
cols = raw_temp.columns.tolist()
cols.insert(2, cols.pop(cols.index('category_id')))
raw_temp = raw_temp[cols]

# Display the updated DataFrame
raw_temp.head()

,series_id,country_id,category_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,001,01,05,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,002,01,05,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,003,01,05,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,004,01,05,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,005,01,05,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [19]:
# Add a new column 'data_id' starting from 1 for the first row
raw_temp['data_id'] = range(1, len(raw) + 1)

# Move the 'data_id' column to the first position
cols = ['data_id'] + [col for col in raw_temp.columns if col != 'data_id']
raw_temp = raw_temp[cols]

cols = raw_temp.columns.tolist()
cols.insert(3, cols.pop(cols.index('data_id')))
raw_temp = raw_temp[cols]

raw_temp['data_id'] = raw_temp['data_id'].apply(lambda x: f'{int(x):06}' if pd.notnull(x) else x)

# Display the updated dataframe
raw_temp.head()

,series_id,country_id,category_id,data_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,001,01,05,000001,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,002,01,05,000002,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,003,01,05,000003,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,004,01,05,000004,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,005,01,05,000005,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,...,..,..,..,..,..,..,..,..,..,..

In [20]:
# Create the 'id' column by combining 'series_id', 'country_id', and 'data_id'
raw_temp['id'] = raw_temp['series_id'] + raw_temp['country_id'] + raw_temp['category_id'] + raw_temp['data_id']

# Move the 'id' column to the first position
cols = ['id'] + [col for col in raw_temp.columns if col != 'id']
raw_temp = raw_temp[cols]

# Display the updated dataframe
raw_temp.head()

,id,series_id,country_id,category_id,data_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,0010105000001,001,01,05,000001,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,0020105000002,002,01,05,000002,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,0030105000003,003,01,05,000003,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,0040105000004,004,01,05,000004,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,0050105000005,005,01,05,000005,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,...,..,..,..,..,..,..,..,..,..,..

In [5]:
# Transpose and set the column names
raw_transpose = raw.transpose()
raw_transpose = raw_transpose.drop(raw_transpose.index[[1, 3]])
raw_transpose.columns = raw_transpose.iloc[0] + "_" + raw_transpose.iloc[1]
raw_transpose = raw_transpose.drop(raw_transpose.index[[0, 1]])

raw_transpose.index = raw_transpose.index.str[0:4].astype(int)
raw_transpose.head()

,Afghanistan_Access to clean fuels and technologies for cooking (% of population),"Afghanistan_Access to clean fuels and technologies for cooking, rural (% of rural population)","Afghanistan_Access to clean fuels and technologies for cooking, urban (% of urban population)",Afghanistan_Access to electricity (% of population),"Afghanistan_Access to electricity, rural (% of rural population)","Afghanistan_Access to electricity, urban (% of urban population)",Afghanistan_Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Afghanistan_Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Afghanistan_Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Afghanistan_Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)",...,China_Women who believe a husband is justified in beating his wife (any of five reasons) (%),China_Women who believe a husband is justified in beating his wife when she argues with him (%),China_Women who believe a husband is justified in beating his wife when she burns the food (%),China_Women who believe a husband is justified in beating his wife when she goes out without telling him (%),China_Women who believe a husband is justified in beating his wife when she neglects the children (%),China_Women who believe a husband is justified in beating his wife when she refuses sex with him (%),China_Women who were first married by age 15 (% of women ages 20-24),China_Women who were first married by age 18 (% of women ages 20-24),China_Women's share of population ages 15+ living with HIV (%),China_Young people (ages 15-24) newly infected with HIV
1993,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,26.477133,..
1994,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,27.352662,..
1995,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,27.728931,..
1996,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,27.99747,..
1997,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,28.213563,..

In [6]:
# Drop columns where the column name includes '%'
raw_transpose_percent = raw_transpose.loc[:, ~raw_transpose.columns.str.contains('%')]

# Display the updated dataframe
raw_transpose_percent.head()

,Afghanistan_Adjusted net national income (constant 2015 US$),Afghanistan_Adjusted net national income (current US$),Afghanistan_Adjusted net national income per capita (constant 2015 US$),Afghanistan_Adjusted net national income per capita (current US$),"Afghanistan_Adjusted net savings, excluding particulate emission damage (current US$)","Afghanistan_Adjusted net savings, including particulate emission damage (current US$)",Afghanistan_Adjusted savings: carbon dioxide damage (current US$),Afghanistan_Adjusted savings: consumption of fixed capital (current US$),Afghanistan_Adjusted savings: education expenditure (current US$),Afghanistan_Adjusted savings: energy depletion (current US$),...,"China_Use of IMF credit (DOD, current US$)",China_Voice and Accountability: Estimate,China_Voice and Accountability: Number of Sources,China_Voice and Accountability: Percentile Rank,China_Voice and Accountability: Standard Error,China_Wanted fertility rate (births per woman),"China_Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",China_Wholesale price index (2010 = 100),China_Women Business and the Law Index Score (scale 1-100),China_Young people (ages 15-24) newly infected with HIV
1993,..,..,..,..,..,..,18789511.490618,..,..,2889968.268093,...,..,..,..,..,..,..,2.779291,..,59.375,..
1994,..,..,..,..,..,..,18890354.694955,..,..,2514650.809061,...,..,..,..,..,..,..,3.11999,..,59.375,..
1995,..,..,..,..,..,..,18956055.119221,..,..,2155010.805053,...,..,..,..,..,..,..,3.438078,..,62.5,..
1996,..,..,..,..,..,..,18782416.78028,..,..,2452002.241868,...,..,-1.361545,7,12,0.208056,..,3.753554,..,62.5,..
1997,..,..,..,..,..,..,18211710.518801,..,..,1920184.156234,...,..,..,..,..,..,..,4.0726,..,62.5,..

In [7]:
# Cleaning empty data
raw_transpose_na = raw_transpose_percent.replace("..", np.nan)

# Drop columns where the number of NaN values is larger than 10% of the number of rows
na_threshold = len(raw_transpose_na) * 0.9
raw_transpose_na_drop = raw_transpose_na.dropna(axis=1, thresh=na_threshold)

# Check the number of NaN values in each column and the length of the dataframe
raw_transpose_na_drop.isna().sum(), len(raw_transpose_na)

/var/folders/qz/xwx1r5sx2k9dgf6nxmgph3200000gn/T/ipykernel_14166/238864852.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw_transpose_na = raw_transpose_percent.replace("..", np.nan)

(Afghanistan_Adjusted savings: carbon dioxide damage (current US$)                                         2
 Afghanistan_Adjusted savings: energy depletion (current US$)                                              2
 Afghanistan_Adjusted savings: mineral depletion (current US$)                                             2
 Afghanistan_Adjusted savings: net forest depletion (current US$)                                          2
 Afghanistan_Adolescent fertility rate (births per 1,000 women ages 15-19)                                 1
                                                                                                          ..
 China_Total reserves in months of imports                                                                 0
 China_Total reserves minus gold (current US$)                                                             0
 China_Urban population                                                                                    0
 China_Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)    2
 China_Women Business and the Law Index Score (scale 1-100)                                                0
 Length: 12294, dtype: int64,
 31)

In [ ]:
std = raw_transpose_na_drop.std()

std_biggerthan0 = std[std > 0]
raw_no0sd = raw_transpose_na_drop[std_biggerthan0.index]

raw_no0sd.head()

np.float64(4253145877260.9443)

In [9]:
# Function to fill NaN values using linear regression
def fill_na_with_linear_regression(temp_df):
    df = temp_df
    for column in df.columns:
        # Get the index of non-NaN values
        non_na_index = df[column].dropna().index
        # Get the index of NaN values
        na_index = df[column][df[column].isna()].index
        
        if len(non_na_index) > 1 and len(na_index) > 0:  # Need at least two points to fit a linear model and at least one NaN value to predict
            # Fit the linear regression model
            X = non_na_index.values.reshape(-1, 1)
            y = df.loc[non_na_index, column].values
            model = LinearRegression().fit(X, y)
            
            # Predict the NaN values
            X_na = na_index.values.reshape(-1, 1)
            y_na_pred = model.predict(X_na)
            
            # Fill the NaN values with the predicted values
            df.loc[na_index, column] = y_na_pred
    
    return df
# Apply the function to the dataframe
raw_clean = fill_na_with_linear_regression(raw_no0sd)

In [10]:
# Check the number of NaN values in each column and the length of the dataframe
raw_clean.isna().sum(), len(raw_transpose_na)

# Sort the columns
raw_sort = raw_clean.sort_index(axis=1)

# Transpose and save to Excel
excel = raw_sort.transpose()
excel.to_excel("cleaned_data.xlsx")