In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [3]:
# Read the Excel file
raw = pd.read_excel("rawdata.xlsx")
raw.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,..
1,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,..,..,..,..,..,..,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,..
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,..,..,..,..,..,..,...,78,79.5,80.5,81.6,82.6,83.2,83.8,84.5,85,..
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,..
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,86.5,64.6,97.1,97.1,91.6,97.1,97.1,97.1,81.7,..

In [4]:
# Delete rows where 'Series Name' contains '%'
raw = raw[~raw['Series Name'].str.contains('%')]

# Display the updated dataframe
raw.head()

,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
23,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
24,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
26,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
27,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,..,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
29,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [5]:
# Extract country names from the column names
country_names = raw['Country Name'].unique()

# Create a mapping from country names to unique IDs
country_id_map = {country: idx + 1 for idx, country in enumerate(country_names)}

# Create the country_id column by mapping the country names
raw['country_id'] = raw['Country Name'].map(country_id_map)

# Move the country_id column to the first position
# Change the country_id into a string and add a leading zero if it is a single digit
raw['country_id'] = raw['country_id'].apply(lambda x: f'{x:02}')

# Move the country_id column to the first position
cols = ['country_id'] + [col for col in raw.columns if col != 'country_id']
raw = raw[cols]

country = pd.DataFrame()

country['id'] = raw['country_id'].unique()
country['location'] = raw['Country Name'].unique()
# Display the updated dataframe
country.to_csv('country.csv', index=False)
country.head()

   id     location
0  01  Afghanistan
1  02    Australia
2  03      Austria
3  04   Bangladesh
4  05      Belgium

In [6]:
# Extract series names from the column names
series_names = raw['Series Name'].unique()

# Create a mapping from series names to unique IDs
series_id_map = {series: idx + 1 for idx, series in enumerate(series_names)}

# Create the series_id column by mapping the series names
raw['series_id'] = raw['Series Name'].map(series_id_map)

# Change the series_id into a string and add leading zeros
raw['series_id'] = raw['series_id'].apply(lambda x: f'{x:03}')

# Move the series_id column to the first position
cols = ['series_id'] + [col for col in raw.columns if col != 'series_id']
raw = raw[cols]

series = pd.DataFrame({
	'id': raw['series_id'].unique(),
	'Series': series_names
})

# Display the updated dataframe
series.to_csv('series.csv', index=False)
series.head()

    id                                             Series
0  001   Adjusted net national income (constant 2015 US$)
1  002         Adjusted net national income (current US$)
2  003  Adjusted net national income per capita (const...
3  004  Adjusted net national income per capita (curre...
4  005  Adjusted net savings, excluding particulate em...

In [7]:
category = pd.read_excel("category.xlsx")
# Merge the resulting DataFrame with category to get Category
raw_temp = raw.merge(category, left_on='Series Name', right_on='Series Name', how='left')

# Rename 'Category' to 'category_id'
raw_temp.rename(columns={'Category': 'category_id'}, inplace=True)

# Change the category_id into a string and add leading zeros if necessary
raw_temp['category_id'] = raw_temp['category_id'].apply(lambda x: f'{int(x):02}' if pd.notnull(x) else '00')

# Move 'category_id' to the third position
cols = raw_temp.columns.tolist()
cols.insert(2, cols.pop(cols.index('category_id')))
raw_temp = raw_temp[cols]

# Display the updated DataFrame
raw_temp.head()

,series_id,country_id,category_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,001,01,05,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,002,01,05,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,003,01,05,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,004,01,05,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,005,01,05,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [8]:
# Add a new column 'data_id' starting from 1 for the first row
raw_temp['data_id'] = range(1, len(raw) + 1)

# Move the 'data_id' column to the first position
cols = ['data_id'] + [col for col in raw_temp.columns if col != 'data_id']
raw_temp = raw_temp[cols]

cols = raw_temp.columns.tolist()
cols.insert(3, cols.pop(cols.index('data_id')))
raw_temp = raw_temp[cols]

raw_temp['data_id'] = raw_temp['data_id'].apply(lambda x: f'{int(x):06}' if pd.notnull(x) else x)

# Display the updated dataframe
raw_temp.head()

,series_id,country_id,category_id,data_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],1994 [YR1994],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,001,01,05,000001,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,002,01,05,000002,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,003,01,05,000003,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,004,01,05,000004,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,005,01,05,000005,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,...,..,..,..,..,..,..,..,..,..,..

In [9]:
# Create the 'id' column by combining 'series_id', 'country_id', and 'data_id'
raw_temp['id'] = raw_temp['series_id'] + raw_temp['country_id'] + raw_temp['category_id'] + raw_temp['data_id']

# Move the 'id' column to the first position
cols = ['id'] + [col for col in raw_temp.columns if col != 'id']
raw_temp = raw_temp[cols]

# Display the updated dataframe
raw_temp.head()

,id,series_id,country_id,category_id,data_id,Country Name,Country Code,Series Name,Series Code,1993 [YR1993],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,0010105000001,001,01,05,000001,Afghanistan,AFG,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,..,...,..,18572571195.578602,..,..,..,..,..,..,..,..
1,0020105000002,002,01,05,000002,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,...,18885765415.865398,18572571195.578602,16826000216.6437,17751891426.850899,17143221811.4464,17731939790.9716,18585819842.831001,13621070038.579,..,..
2,0030105000003,003,01,05,000003,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,...,..,548.968454,..,..,..,..,..,..,..,..
3,0040105000004,004,01,05,000004,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,...,575.916815,548.968454,484.89059,497.406029,466.570602,468.403506,475.718084,340.523244,..,..
4,0050105000005,005,01,05,000005,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,...,..,..,..,..,..,..,..,..,..,..

In [10]:
# Transpose and set the column names
raw_transpose = raw_temp.transpose()
raw_transpose.columns = raw_transpose.iloc[0]
raw_transpose = raw_transpose.drop(raw_transpose.index[0:9])

raw_transpose.index = raw_transpose.index.str[0:4].astype(int)
raw_transpose.head(10)

id,0010105000001,0020105000002,0030105000003,0040105000004,0050105000005,0060105000006,0070104000007,0080105000008,0090105000009,0100104000010,...,6854105028445,6864100028446,6874100028447,6884100028448,6894100028449,6904100028450,6914104028451,6924105028452,6934103028453,6944101028454
1993,..,..,..,..,..,..,18789511.490618,..,..,2889968.268093,...,..,..,..,..,..,..,2.779291,..,59.375,..
1994,..,..,..,..,..,..,18890354.694955,..,..,2514650.809061,...,..,..,..,..,..,..,3.11999,..,59.375,..
1995,..,..,..,..,..,..,18956055.119221,..,..,2155010.805053,...,..,..,..,..,..,..,3.438078,..,62.5,..
1996,..,..,..,..,..,..,18782416.78028,..,..,2452002.241868,...,..,-1.361545,7,12,0.208056,..,3.753554,..,62.5,..
1997,..,..,..,..,..,..,18211710.518801,..,..,1920184.156234,...,..,..,..,..,..,..,4.0726,..,62.5,..
1998,..,..,..,..,..,..,17803915.867534,..,..,1070374.653372,...,..,-1.437438,7,8.955224,0.213555,..,4.362701,..,62.5,..
1999,..,..,..,..,..,..,14378316.081011,..,..,1455843.457458,...,325010365.9,..,..,..,..,..,4.665691,..,62.5,..
2000,..,..,..,..,..,..,14106824.556075,..,..,2065691.235409,...,308529088,-1.384081,8,9.950249,0.202216,..,5.028341,..,62.5,..
2001,..,..,..,..,..,..,14166993.868521,..,..,2013539.289016,...,297593664,..,..,..,..,..,5.441169,..,62.5,..
2002,..,..,..,..,..,..,20757344.213491,346155362.11051,..,1419474.682886,...,321934336,-1.594193,10,6.467662,0.163098,..,5.931262,..,65,..

In [75]:
# Cleaning empty data
raw_transpose_na = raw_transpose.replace("..", np.nan)
raw_db = raw_transpose_na.transpose()
raw_db.to_csv('rawdatafull.csv')

raw_db.head()

/var/folders/qz/xwx1r5sx2k9dgf6nxmgph3200000gn/T/ipykernel_24317/3999669800.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw_transpose_na = raw_transpose.replace("..", np.nan)

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
id,,,,,,,,,,,,,,,,,,,,,
0010105000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.857257e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0020105000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.888577e+10,1.857257e+10,1.682600e+10,1.775189e+10,1.714322e+10,1.773194e+10,1.858582e+10,1.362107e+10,NaN,NaN
0030105000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.489685e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0040105000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.759168e+02,5.489685e+02,4.848906e+02,4.974060e+02,4.665706e+02,4.684035e+02,4.757181e+02,3.405232e+02,NaN,NaN
0050105000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
def read_data(path):
    df = pd.read_csv(path)
    df['id'] = df['id'].astype(str)
    df['id'] = df['id'].apply(lambda x: f'{int(x):013}' if pd.notnull(x) else x)

    return df

In [82]:
raw_db_extract = read_data('rawdatafull.csv')
raw_db_transpose = raw_db_extract.transpose()
raw_db_transpose.columns = raw_db_transpose.iloc[0]
raw_db_transpose = raw_db_transpose.drop(raw_db_transpose.index[0])

raw_db_transpose.head()

id,0010105000001,0020105000002,0030105000003,0040105000004,0050105000005,0060105000006,0070104000007,0080105000008,0090105000009,0100104000010,...,6854105028445,6864100028446,6874100028447,6884100028448,6894100028449,6904100028450,6914104028451,6924105028452,6934103028453,6944101028454
1993,NaN,NaN,NaN,NaN,NaN,NaN,18789511.490618,NaN,NaN,2889968.268093,...,NaN,NaN,NaN,NaN,NaN,NaN,2.779291,NaN,59.375,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,18890354.694955,NaN,NaN,2514650.809061,...,NaN,NaN,NaN,NaN,NaN,NaN,3.11999,NaN,59.375,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,18956055.119221,NaN,NaN,2155010.805053,...,NaN,NaN,NaN,NaN,NaN,NaN,3.438078,NaN,62.5,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,18782416.78028,NaN,NaN,2452002.241868,...,NaN,-1.361545,7.0,12.0,0.208056,NaN,3.753554,NaN,62.5,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,18211710.518801,NaN,NaN,1920184.156234,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0726,NaN,62.5,NaN

In [83]:

# Drop columns where the number of NaN values is larger than 10% of the number of rows
na_threshold = len(raw_db_transpose) * 0.9
raw_transpose_na_drop = raw_transpose_na.dropna(axis=1, thresh=na_threshold)

# Check the number of NaN values in each column and the length of the dataframe
raw_transpose_na_drop.isna().sum(), len(raw_transpose_na)

(id
 0070104000007    2
 0100104000010    2
 0110104000011    2
 0120104000012    2
 0150101000015    1
                 ..
 6774105028437    0
 6784105028438    0
 6844101028444    0
 6914104028451    2
 6934103028453    0
 Length: 12294, dtype: int64,
 31)

In [84]:
std = raw_transpose_na_drop.std()

std_biggerthan0 = std[std > 0]
raw_no0sd = raw_transpose_na_drop[std_biggerthan0.index]

raw_no0sd.head()

id,0070104000007,0100104000010,0110104000011,0120104000012,0150101000015,0160101000016,0170101000017,0180104000018,0270104000027,0280104000028,...,6514104028411,6724104028432,6734104028433,6744104028434,6764105028436,6774105028437,6784105028438,6844101028444,6914104028451,6934103028453
1993,1.878951e+07,2.889968e+06,0.0,2.147732e+07,149.461,500.0,500.0,379340.0,22.930160,300.0,...,477900000.0,24697356.0,4332.0554,3.676093,2.734810e+10,3.154853,2.238685e+10,342961393,2.779291,59.375
1994,1.889035e+07,2.514651e+06,0.0,2.290039e+07,156.835,500.0,500.0,378130.0,22.400003,300.0,...,478900000.0,29231422.0,4518.7826,3.791450,5.778134e+10,5.858938,5.291406e+10,357836540,3.119990,59.375
1995,1.895606e+07,2.155011e+06,0.0,2.382507e+07,158.315,500.0,500.0,377630.0,21.869847,300.0,...,557740000.0,33865204.0,4932.4232,4.093790,8.028843e+10,6.328256,7.537670e+10,373035157,3.438078,62.500
1996,1.878242e+07,2.452002e+06,0.0,2.183181e+07,157.603,520.0,500.0,377570.0,21.339690,300.0,...,528950000.0,37799524.0,4948.0219,4.063917,1.117289e+11,7.710670,1.070394e+11,388593258,3.753554,62.500
1997,1.821171e+07,1.920184e+06,0.0,2.402106e+07,158.761,530.0,500.0,377950.0,20.809534,300.0,...,465560000.0,38467260.0,4975.0887,4.044541,1.464480e+11,15.358457,1.427625e+11,404485562,4.072600,62.500

In [13]:
# Function to fill NaN values using linear regression
def fill_na_with_linear_regression(temp_df):
    df = temp_df
    for column in df.columns:
        # Get the index of non-NaN values
        non_na_index = df[column].dropna().index
        # Get the index of NaN values
        na_index = df[column][df[column].isna()].index
        
        if len(non_na_index) > 1 and len(na_index) > 0:  # Need at least two points to fit a linear model and at least one NaN value to predict
            # Fit the linear regression model
            X = non_na_index.values.reshape(-1, 1)
            y = df.loc[non_na_index, column].values
            model = LinearRegression().fit(X, y)
            
            # Predict the NaN values
            X_na = na_index.values.reshape(-1, 1)
            y_na_pred = model.predict(X_na)
            
            # Fill the NaN values with the predicted values
            df.loc[na_index, column] = y_na_pred
    
    return df
# Apply the function to the dataframe
raw_clean = fill_na_with_linear_regression(raw_no0sd)

In [57]:
# Check the number of NaN values in each column and the length of the dataframe
raw_clean.isna().sum(), len(raw_transpose_na)
raw_clean_transpose = raw_clean.transpose()

raw_clean_transpose.to_csv("cleaned_data.csv")
raw_clean_transpose.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
id,,,,,,,,,,,,,,,,,,,,,
0070104000007,1.878951e+07,1.889035e+07,1.895606e+07,1.878242e+07,1.821171e+07,1.780392e+07,1.437832e+07,1.410682e+07,1.416699e+07,2.075734e+07,...,1.643133e+08,2.068983e+08,1.903312e+08,1.788537e+08,2.378150e+08,2.479358e+08,2.323007e+08,1.822300e+08,2.554767e+08,2.653056e+08
0100104000010,2.889968e+06,2.514651e+06,2.155011e+06,2.452002e+06,1.920184e+06,1.070375e+06,1.455843e+06,2.065691e+06,2.013539e+06,1.419475e+06,...,1.986275e+07,1.129754e+07,1.389760e+07,2.317650e+07,3.041629e+07,1.935435e+07,1.161018e+06,2.714217e+06,1.977231e+07,2.049601e+07
0110104000011,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.721533e+05,3.051536e+05,3.888372e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.373352e+05,1.429700e+05
0120104000012,2.147732e+07,2.290039e+07,2.382507e+07,2.183181e+07,2.402106e+07,2.278064e+07,2.805942e+07,2.431737e+07,2.400059e+07,3.715494e+07,...,4.450926e+07,4.696891e+07,5.182773e+07,4.399937e+07,4.422070e+07,5.172933e+07,4.838257e+07,4.737678e+07,5.125604e+07,5.241063e+07
0150101000015,1.494610e+02,1.568350e+02,1.583150e+02,1.576030e+02,1.587610e+02,1.559420e+02,1.563650e+02,1.543100e+02,1.524710e+02,1.501610e+02,...,8.406900e+01,8.104300e+01,7.813000e+01,7.530000e+01,7.302100e+01,7.096700e+01,6.887700e+01,6.659900e+01,6.533900e+01,5.661966e+01

In [ ]:
def extract_series(df):
    df_temp = df
    # Convert 'id' column to string type
    df_temp['id'] = df_temp['id'].astype(str)
    # Add a new column 'series' which is the first three digits of 'id'
    df_temp['series'] = df_temp['id'].str[:3].astype(int)

    # Read the series.csv file
    series = pd.read_csv('series.csv')

    # Rename the 'id' column in the series dataframe to 'series_id'
    series.rename(columns={'id': 'series_id'}, inplace=True)

    # Merge data with series on the 'series' column from data and 'series_id' column from series
    df_temp_1 = df_temp.merge(series, left_on='series', right_on='series_id', how='left')
    cols = df_temp_1.columns.tolist()
    cols.insert(1, cols.pop(cols.index('Series')))
    df_temp_1 = df_temp_1[cols]
    df_temp_1.drop(columns=['series_id', 'series'], inplace=True)

    return df_temp_1

,id,Series,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0070104000007,Adjusted savings: carbon dioxide damage (curre...,1.878951e+07,1.889035e+07,1.895606e+07,1.878242e+07,1.821171e+07,1.780392e+07,1.437832e+07,1.410682e+07,...,1.643133e+08,2.068983e+08,1.903312e+08,1.788537e+08,2.378150e+08,2.479358e+08,2.323007e+08,1.822300e+08,2.554767e+08,2.653056e+08
1,0100104000010,Adjusted savings: energy depletion (current US$),2.889968e+06,2.514651e+06,2.155011e+06,2.452002e+06,1.920184e+06,1.070375e+06,1.455843e+06,2.065691e+06,...,1.986275e+07,1.129754e+07,1.389760e+07,2.317650e+07,3.041629e+07,1.935435e+07,1.161018e+06,2.714217e+06,1.977231e+07,2.049601e+07
2,0110104000011,Adjusted savings: mineral depletion (current US$),0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.721533e+05,3.051536e+05,3.888372e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.373352e+05,1.429700e+05
3,0120104000012,Adjusted savings: net forest depletion (curren...,2.147732e+07,2.290039e+07,2.382507e+07,2.183181e+07,2.402106e+07,2.278064e+07,2.805942e+07,2.431737e+07,...,4.450926e+07,4.696891e+07,5.182773e+07,4.399937e+07,4.422070e+07,5.172933e+07,4.838257e+07,4.737678e+07,5.125604e+07,5.241063e+07
4,0150101000015,"Adolescent fertility rate (births per 1,000 wo...",1.494610e+02,1.568350e+02,1.583150e+02,1.576030e+02,1.587610e+02,1.559420e+02,1.563650e+02,1.543100e+02,...,8.406900e+01,8.104300e+01,7.813000e+01,7.530000e+01,7.302100e+01,7.096700e+01,6.887700e+01,6.659900e+01,6.533900e+01,5.661966e+01

In [ ]:
def extract_contry(df):
    df_temp = df
    # Add a new column 'country' which is the fourth and fifth digits of 'id'
    df_temp['country'] = df_temp['id'].str[3:5].astype(int)

# Read the country.csv file
    country = pd.read_csv('country.csv')

# Rename the 'id' column in the country dataframe to 'country_id'
    country.rename(columns={'id': 'country_id'}, inplace=True)

# Merge data_series with country on the 'country' column from data_series and 'country_id' column from country
    df_temp_1 = df_temp.merge(country, left_on='country', right_on='country_id', how='left')

# Insert 'location' column into the correct position
    cols = df_temp_1.columns.tolist()
    cols.insert(2, cols.pop(cols.index('location')))
    df_temp_1 = df_temp_1[cols]

# Drop unnecessary columns
    df_temp_1.drop(columns=['country_id', 'country'], inplace=True)
    
    return df_temp_1

,id,Series,location,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0070104000007,Adjusted savings: carbon dioxide damage (curre...,Afghanistan,1.878951e+07,1.889035e+07,1.895606e+07,1.878242e+07,1.821171e+07,1.780392e+07,1.437832e+07,...,1.643133e+08,2.068983e+08,1.903312e+08,1.788537e+08,2.378150e+08,2.479358e+08,2.323007e+08,1.822300e+08,2.554767e+08,2.653056e+08
1,0100104000010,Adjusted savings: energy depletion (current US$),Afghanistan,2.889968e+06,2.514651e+06,2.155011e+06,2.452002e+06,1.920184e+06,1.070375e+06,1.455843e+06,...,1.986275e+07,1.129754e+07,1.389760e+07,2.317650e+07,3.041629e+07,1.935435e+07,1.161018e+06,2.714217e+06,1.977231e+07,2.049601e+07
2,0110104000011,Adjusted savings: mineral depletion (current US$),Afghanistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.721533e+05,3.051536e+05,3.888372e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.373352e+05,1.429700e+05
3,0120104000012,Adjusted savings: net forest depletion (curren...,Afghanistan,2.147732e+07,2.290039e+07,2.382507e+07,2.183181e+07,2.402106e+07,2.278064e+07,2.805942e+07,...,4.450926e+07,4.696891e+07,5.182773e+07,4.399937e+07,4.422070e+07,5.172933e+07,4.838257e+07,4.737678e+07,5.125604e+07,5.241063e+07
4,0150101000015,"Adolescent fertility rate (births per 1,000 wo...",Afghanistan,1.494610e+02,1.568350e+02,1.583150e+02,1.576030e+02,1.587610e+02,1.559420e+02,1.563650e+02,...,8.406900e+01,8.104300e+01,7.813000e+01,7.530000e+01,7.302100e+01,7.096700e+01,6.887700e+01,6.659900e+01,6.533900e+01,5.661966e+01

In [71]:
def extract_category(df):
    df_temp = df
    # Add a new column 'country' which is the fourth and fifth digits of 'id'
    df_temp['category'] = df_temp['id'].str[5:7].astype(int)

# Read the country.csv file
    category = pd.read_excel('category_id.xlsx')

# Rename the 'id' column in the country dataframe to 'country_id'
    category.rename(columns={'id': 'category_id'}, inplace=True)

# Merge data_series with country on the 'country' column from data_series and 'country_id' column from country
    df_temp_1 = df_temp.merge(category, left_on='category', right_on='category_id', how='left')

# Insert 'location' column into the correct position
    cols = df_temp_1.columns.tolist()
    cols.insert(3, cols.pop(cols.index('Category')))
    df_temp_1 = df_temp_1[cols]

# Drop unnecessary columns
    df_temp_1.drop(columns=['category_id', 'category'], inplace=True)

    return df_temp_1

data = read_data('cleaned_data.csv')
data_series = extract_series(data)
data_country = extract_contry(data_series)
data_category = extract_category(data_country)

data_category.head()

,id,Series,location,Category,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0070104000007,Adjusted savings: carbon dioxide damage (curre...,Afghanistan,Environmental,1.878951e+07,1.889035e+07,1.895606e+07,1.878242e+07,1.821171e+07,1.780392e+07,...,1.643133e+08,2.068983e+08,1.903312e+08,1.788537e+08,2.378150e+08,2.479358e+08,2.323007e+08,1.822300e+08,2.554767e+08,2.653056e+08
1,0100104000010,Adjusted savings: energy depletion (current US$),Afghanistan,Environmental,2.889968e+06,2.514651e+06,2.155011e+06,2.452002e+06,1.920184e+06,1.070375e+06,...,1.986275e+07,1.129754e+07,1.389760e+07,2.317650e+07,3.041629e+07,1.935435e+07,1.161018e+06,2.714217e+06,1.977231e+07,2.049601e+07
2,0110104000011,Adjusted savings: mineral depletion (current US$),Afghanistan,Environmental,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.721533e+05,3.051536e+05,3.888372e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.373352e+05,1.429700e+05
3,0120104000012,Adjusted savings: net forest depletion (curren...,Afghanistan,Environmental,2.147732e+07,2.290039e+07,2.382507e+07,2.183181e+07,2.402106e+07,2.278064e+07,...,4.450926e+07,4.696891e+07,5.182773e+07,4.399937e+07,4.422070e+07,5.172933e+07,4.838257e+07,4.737678e+07,5.125604e+07,5.241063e+07
4,0150101000015,"Adolescent fertility rate (births per 1,000 wo...",Afghanistan,Social,1.494610e+02,1.568350e+02,1.583150e+02,1.576030e+02,1.587610e+02,1.559420e+02,...,8.406900e+01,8.104300e+01,7.813000e+01,7.530000e+01,7.302100e+01,7.096700e+01,6.887700e+01,6.659900e+01,6.533900e+01,5.661966e+01

In [90]:
gdp_data = read_data('rawdatafull.csv')
gdp = gdp_data[gdp_data['id'].str[:3] == '185']
gdp_clean = fill_na_with_linear_regression(gdp)

gdp_series = extract_series(gdp_clean)
gdp_country = extract_contry(gdp_series)
gdp_category = extract_category(gdp_country)

gdp_category.to_excel('gdp.xlsx', index=False)

gdp_category.head()

/var/folders/qz/xwx1r5sx2k9dgf6nxmgph3200000gn/T/ipykernel_24317/3603410777.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['id'] = df_temp['id'].astype(str)
/var/folders/qz/xwx1r5sx2k9dgf6nxmgph3200000gn/T/ipykernel_24317/3603410777.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['series'] = df_temp['id'].str[:3].astype(int)

,id,Series,location,Category,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1850105000185,GDP (current LCU),Afghanistan,Economical,7.731921e+11,7.857332e+11,8.833805e+11,9.264220e+11,9.484269e+11,1.048723e+12,...,1.176469e+12,1.222756e+12,1.222917e+12,1.285460e+12,1.327690e+12,1.469596e+12,1.534966e+12,1.251172e+12,1.283441e+12,1.357275e+12
1,1850205000879,GDP (current LCU),Australia,Economical,4.442290e+11,4.666170e+11,4.958460e+11,5.289690e+11,5.566650e+11,5.892400e+11,...,1.599333e+12,1.624165e+12,1.657914e+12,1.757655e+12,1.842045e+12,1.947319e+12,1.981663e+12,2.085822e+12,2.330329e+12,2.567513e+12
2,1850305001573,GDP (current LCU),Austria,Economical,1.602976e+11,1.682928e+11,1.759170e+11,1.815419e+11,1.877787e+11,1.952744e+11,...,3.301135e+11,3.420835e+11,3.556656e+11,3.672949e+11,3.832343e+11,3.957068e+11,3.803179e+11,4.062321e+11,4.480074e+11,4.732267e+11
3,1850405002267,GDP (current LCU),Bangladesh,Economical,1.253694e+12,1.354123e+12,1.525178e+12,1.899334e+12,2.060032e+12,2.269299e+12,...,1.343674e+13,1.515802e+13,2.075821e+13,2.324307e+13,2.639248e+13,2.951428e+13,3.170469e+13,3.530185e+13,3.971716e+13,4.490842e+13
4,1850505002961,GDP (current LCU),Belgium,Economical,1.927214e+11,2.031069e+11,2.104891e+11,2.142871e+11,2.241015e+11,2.326238e+11,...,4.049583e+11,4.155380e+11,4.284671e+11,4.434072e+11,4.594918e+11,4.794449e+11,4.637509e+11,5.060232e+11,5.635436e+11,5.963206e+11

In [91]:
clean = data_category[~data_category['Series'].str.contains('GDP')]
clean_2 = clean[~clean['Series'].str.contains('current US')]
clean_3 = clean_2[~clean_2['Series'].str.contains('constant 2015 US')]
clean_4 = clean_3[~clean_3['Series'].str.contains('constant LCU')]
clean_4.to_excel('data.xlsx', index=False)
clean_4.head()

,id,Series,location,Category,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
4,0150101000015,"Adolescent fertility rate (births per 1,000 wo...",Afghanistan,Social,149.46100,156.835000,158.315000,157.60300,158.761000,155.942,...,84.069,81.043,78.130,75.300,73.021,70.967,68.877,66.599,65.339000,56.619657
5,0160101000016,Adults (ages 15+) and children (ages 0-14) new...,Afghanistan,Social,500.00000,500.000000,500.000000,520.00000,530.000000,600.000,...,1100.000,1100.000,1100.000,1000.000,1100.000,1200.000,1100.000,1200.000,1300.000000,1277.908046
6,0170101000017,Adults (ages 15-49) newly infected with HIV,Afghanistan,Social,500.00000,500.000000,500.000000,500.00000,500.000000,1000.000,...,1000.000,1000.000,1000.000,1000.000,1000.000,1000.000,1000.000,1100.000,1100.000000,1158.160920
7,0180104000018,Agricultural land (sq. km),Afghanistan,Environmental,379340.00000,378130.000000,377630.000000,377570.00000,377950.000000,378680.000,...,379100.000,379100.000,379100.000,379100.000,380100.000,380100.000,383130.000,383130.000,380763.497537,380874.167488
8,0270104000027,"Annual freshwater withdrawals, total (billion ...",Afghanistan,Environmental,22.93016,22.400003,21.869847,21.33969,20.809534,20.282,...,20.282,20.282,20.282,20.282,20.282,20.282,20.282,20.282,19.812621,19.763078